<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShuleBIT</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="public/styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="public/js/lib/jquery.i18n/jquery.i18n.js"></script>
    
</head>
<body>
    <div class="container">

        <h4 class="mt-5 display-4 text-secondary text-center">ShuleBIT</h4>
        <hr>
        <div class="d-flex justify-content-around mt-5">
            

            <div class="card text-left col-6">
            <img class="card-img-top" src="http://via.placeholder.com/1000x500" alt="">
            <div class="card-body">
                <h4 class="card-title">Sample Product</h4>
                <p class="card-text">ShuleBIT is a Management System</p>
            </div>
        </div>
    </div>
    <footer class="text-center" style="position: relative;">
        <a href="http://nardtec.net" class="text-muted">ContactUS@NardTEC</a>
    </footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</html>